.venv
venv
env

__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.ruff_cache
.mypy_cache

.env
.env.*

.git
.gitignore
.dockerignore
Dockerfile

*.md
tests
htmlcov
.coverage
.ipynb_checkpoints
.vscode
.idea

*.log
.DS_Store
Thumbs.db
